@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<div class="auth-container">

    <div class="auth-header">
        <img src="~/images/MedixWithoutBg.png" alt="Medix Logo" class="auth-logo" />
        <h1 class="auth-title">Acesse sua conta</h1>
        <p class="auth-subtitle">Bem-vindo de volta! Preencha seus dados para continuar.</p>
    </div>

    <section>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group">
                <label asp-for="Input.Email">E-mail</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="seuemail@exemplo.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password">Senha</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Digite sua senha" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-4 mt-3">
                <div class="form-check">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe">
                        Lembrar de mim
                    </label>
                </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-primary">Entrar</button>
            </div>
        </form>

        @{
            if ((Model.ExternalLogins?.Count ?? 0) > 0)
            {
                <div class="text-center my-3">
                    <hr />
                    <span class="text-muted small bg-medix-50 px-2" style="position: relative; top: -23px;">OU</span>
                </div>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mt-2">
                    <div>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="w-100 btn btn-secondary" name="provider" value="@provider.Name" title="Entrar usando sua conta @provider.DisplayName">
                                Entrar com @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}