@model Medix.Models.Colaborador

@{
    ViewData["Title"] = "Editar Colaborador";
    ViewData["HideFooter"] = true; // Esconde o rodapé principal
}

<div class="auth-container">

    <div class="auth-header">
        <h1 class="auth-title">@ViewData["Title"]</h1>
        <p class="auth-subtitle">Atualize os dados de @Model.NomeCompleto.</p>
    </div>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="NomeCompleto"></label>
            <input asp-for="NomeCompleto" class="form-control" />
            <span asp-validation-for="NomeCompleto" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Cargo"></label>
                    <select asp-for="Cargo" class="form-control" asp-items="Html.GetEnumSelectList<TipoColaborador>()"></select>
                    <span asp-validation-for="Cargo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label asp-for="Especialidade"></label>
                    <input asp-for="Especialidade" class="form-control" />
                    <span asp-validation-for="Especialidade" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="RegistroProfissional"></label>
                    <input asp-for="RegistroProfissional" class="form-control" />
                    <span asp-validation-for="RegistroProfissional" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group mt-4 form-actions">
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}